{% extends "base.html" %}

{% block title %}
  {{ page_title }}
{% endblock %}

{% block content%}
<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
        <h3>{{ page_title }}</h3>

        <!-- Εδώ μπαίνει ο κώδικας της φόρμας εισαγωγής νέας ταινίας με όλα τα απαραίτητα πεδία -->
        <!-- προσοχή στη δήλωση της φόρμας καθώς θα στέλνει και αρχεία (movie image) εκτός από απλά δεδομένα -->
        <!-- Επίσης θα πρέπει να μπεί βοηθητικό κείμενο στο πεδίο βαθμολογίας και έτους πρώτης προβολής (παρομοίως με τα υπόλοιπα πεδία) που -->
        <!-- θα ενημερώνει τους χρήστες ότι επιτρέπονται ακέραιοι αριθμοί από το 1 έως το 100 για το rating και από το 1888 έως το current year για το έτος πρώτης προβολής -->

    </div>
  </div>
</div>



{% endblock %}